<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atjianyi.dao.RoleMapper">
    <resultMap id="baseRoleMapper" type="role">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleDesc" column="role_desc"/>
    </resultMap>

    <resultMap id="roleMapperAndPermissionList" type="role" extends="baseRoleMapper">
        <collection property="permissionsList" column="id" ofType="permission" select="com.atjianyi.dao.PermissionMapper.findPermissionsByRoleId"/>
    </resultMap>

    <sql id="baseSql">
         SELECT * FROM t_role  WHERE id IN(SELECT role_id FROM t_role_usres WHERE users_id = #{v})
    </sql>

<!--  查询基本的角色信息  -->
    <select id="findRolesByUserId" resultMap="baseRoleMapper" parameterType="string" >
      <include refid="baseSql"/>
    </select>

<!--  根据用户id查询详细信息  -->
    <select id="findRolesAndPermissions" resultMap="roleMapperAndPermissionList" parameterType="string">
        <include refid="baseSql"/>
    </select>

<!--  查询所有角色信息  -->
    <select id="findAllRoles" resultMap="baseRoleMapper">
        select * from t_role
    </select>

<!-- 添加角色信息  -->
    <insert id="insertRoles" parameterType="userInfo">
        insert into t_role(id, role_name, role_desc) values (#{id},#{roleName},#{roleDesc})
    </insert>

<!--  查询角色详情  -->
    <select id="selectRoleById" parameterType="string" resultMap="roleMapperAndPermissionList">
        select * from t_role where id = #{v}
    </select>

<!-- 根据RoleIdUser与Role关联   -->
    <delete id="deleteRoleAndUserById" parameterType="string">
        delete from t_role_usres where role_id = #{v}
    </delete>

<!--  根据roleIdPermission与role的关联  -->
    <delete id="deleteRoleAndPermissionById" parameterType="string">
        delete from t_role_permission where role_id = #{v}
    </delete>

<!--  根据id删除role  -->
    <delete id="deleteRoleById" parameterType="string">
        delete from t_role where id = #{v}
    </delete>

    <select id="selectOtherPermissionByRoleId" resultMap="com.atjianyi.dao.PermissionMapper.basePermission" parameterType="string">
        select * from t_permission where id not in(select permission_id from t_role_permission where role_id = #{v})
    </select>

    <insert id="insertPermissionToRole">
        insert into t_role_permission (role_id, permission_id) value (#{roleId},#{permissionId})
    </insert>
</mapper>